.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.container p {
  font-size: 0.75rem;
  font-weight: bold;
}

.container p:nth-child(1) {
  text-transform: capitalize;
}
