.nav {
  max-width: 100%;
  padding: 1.5rem 0;
}

.nav_container {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_container {
  display: flex;
  align-items: center;
}

.search_container__gps {
  display: flex;
  align-items: baseline;
  margin-right: 1rem;
}

.search_container__location {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.search_container__location > p {
  margin-left: 0.25rem;
  color: #90a4ae;
}
